manifest {
    name = "Sequoia Genome Generator"
    description = 'Generate Genomes for Sequoia Projects'
    author = 'Bio-Rad'
    mainScript = 'make_genome_index.nf.nf'
    version = '0.0.01-alpha'
}

// Global default params, used in configs
params {
	genome_name = "Cutsom"
	cpus = 16
	mem = 60
	genome_path = ""
	GTFfile = false
	container = 'bioraddbg/sequoia-genome:latest'
	targz =false
	annotation_report =""
}
docker.enabled = true
process.container = params.container

